/* Nav_menu */

body{
    width: 100%;
    height: auto;

}
#Backdrop{
    z-index: -14 !important;
    width: 100%;
    height: 100%;
    display:inline;
    position:fixed;left: 0;right: 0; top: 0px;
    opacity: 100%;

}
#background-video{
    opacity: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -15;
}
h2,h1,h3,h4,h5,h6{
    font-family: "copperplate", serif;
    font-weight: 300;
    font-style: normal;
    color: aliceblue;
}
#nav{
    z-index: -9;
    margin: 10px;
    width: 13vw;
    height: 100vh;
    position: fixed; left: -13px; top:13.5vh;
    background-image: linear-gradient(#9c72ca,#3a366f);
    outline: 10px ; outline-color: black;
}
#nav a{
    text-decoration: none; 
    color: #fff;
    font-size: 1vw;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    text-align: center;
}
#nav a:hover{
    background-color: #5856d0;
    transition: 0.5s;
}
#Logo{
    z-index: 10;
    width: 300px;
    height: 13vh;
    display: inline-block;
    position: fixed; left: 0vw; top: 0vh;
    scale: 100%;
}
#Playerwelcome{
    width: 800px;
    height: 90px;
    position: fixed; left: 140px; top: 25px;
    display: inline-block;
    color: rgb(189, 21, 189);
    scale: 60%;
}

#widgetbot.io{
    z-index: -5;
    margin: 0px;
    padding: 20px;
    height: 40vh;
    width: 15vw;
    font-size: 18px;
    background-color: rgb(2, 1, 4);
    outline-style: inset; outline-width: 1px;outline-color: rgb(120, 103, 203);
    position: fixed; left: 83vw; top: 55vh;
    scale: 90%;
    overflow-y: scroll;
}
#Footer{
    z-index: -10;
    display: inline-block;
    width: 100vw;
    height: 300px;
    background-color: black;
    position: fixed; left: 0px; top: 900px;
}
#Header{
    z-index: -13;
    display: inline;
    width: 100vw;
    height: 150px;
    background-color: rgb(0, 0, 0);
    outline-style: inset; outline-width: 4px;outline-color: rgb(120, 103, 203);
    position: fixed; left: 0px; top: -15px;
}

/*MAIN*/

#GameAreamain{ 
    z-index: 15;
    width: 69vw;
    height: 100vh;
    position: fixed; left: 13vw; top: 15vh;
    overflow-y: scroll;
    background-image: linear-gradient(#2f253b,#08010e);
    padding-left: 10px;
    padding-bottom: 10px; 
    padding-right: 20px;
}
#main_backdrop{
    z-index: 17;
    height: fit-content;
    scrollbar-base-color: #0000;
    
}
#Story_panel{
    z-index: 20;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    height: 80vh;
    width: 65vw;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(10, 3, 24);
    background-image: url(../Web\ Elements/fantasy-magical-forest-0tiooakqf5d8dqmj.jpg);
    background-size: contain;
    position: absolute; left: 18px; top: 10px;
    outline-style: inset; outline-width: 4px;outline-color: rgb(131, 72, 250);
    border: var(--border-radius);
    overflow-y: scroll;
    scrollbar-base-color: #0000;
}
/*#filler{
    width: 400px;
    height: 400px;
    background-color:rgb(90, 58, 155);
    position: absolute; right: 100px; top: 0px;
}*/
#choices{
    background-color: rgb(32 33 35);
    opacity: 0.9;
    position: absolute;
    left: 20px;
    top: 47vh;
    height: 32vh;
    width: 63vw;
    outline: #fff;
    outline-style: outset;
    outline-width: 4px;
}
#option-buttons button{
    width: 290px; 
    height: 60px;
    margin-top: 5px;
    position: relative; 
    left :1vw; 
    top: 24vh;
}
#Chapter{
    z-index: 21;
    position: absolute; left: 20px; top: -15px;
}
#Story_Text{
    position: absolute;
    left: 2vw;
    right: 4vw;
    top: -5px;
}
#Story_panelTitle{
    z-index: 15;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    height: 5vh;
    width: 64vw;
    display: fixed;
    align-items: top;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(131, 72, 250); opacity: 100%;
    position: absolute; left: 0px; top: 0px;
}

#Billboard{
    z-index: 20;
    margin: 0px;
    padding: 20px;
    height: 45vh;
    width: 72vh;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(142, 55, 214);
    position: absolute; left: 600px; top: 60px;
    outline-style: inset; outline-width: 4px;outline-color: rgb(120, 103, 203);
    border: var(--border-radius);
}
#random_item1{
    z-index: 20;
    height: 20vh;
    width: 20vh;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(10, 3, 24);
    position: absolute; left: 600px; top: 548px;
    outline-style: inset; outline-width: 2px;outline-color: rgb(43, 92, 226);
    border: var(--border-radius);
}
#random_item2{
    z-index: 20;
    height: 20vh;
    width: 20vh;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(10, 3, 24);
    position: absolute; left: 850px; top: 548px;
    outline-style: inset; outline-width: 2px;outline-color: rgb(43, 92, 226);
    border: var(--border-radius);
}
#random_item3{
    z-index: 20;
    height: 20vh;
    width: 20vh;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(10, 3, 24);
    position: absolute; left: 1100px; top: 548px;
    outline-style: inset; outline-width: 2px;outline-color: rgb(43, 92, 226);
    border: var(--border-radius);
}
#News{
    z-index: 20;
    margin: 0px;
    padding: 20px;
    height: 95vh;
    width: 50vh;
    display: fixed;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(10, 3, 24);
    position: absolute; left: 17px; top: 840px;
    outline-style: inset; outline-width: 4px;outline-color: rgb(0, 0, 0);
    border: var(--border-radius);
}
#VORT3X{
    z-index: 21;
    scale: 100%;
    max-width: 20vw;
    max-height: 30vh;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; left: 55vw; top: 28vh;
}
/*EXPLORE*/
#GameAreahub{
    z-index: 15;
    width: 68vw;
    height: 80vh;
    position: fixed; left: 15vw; top: 15vh;
    overflow-y: auto;
    background-color: rgb(131, 72, 250);
}
#GameAreamarket{
    z-index: 15;
    width: 68vw;
    height: 80vh;
    background-color: rgb(72, 250, 250);
    position: fixed; left: 15vw; top: 15vh;
    overflow: y;
}
#GameAreachannel{
    z-index: 15;
    width: 72vw;
    height: 80vh;
    position: fixed; left: 13vw; top: 14.5vh;
    overflow-y: auto;
    background-color: rgb(59, 18, 78);
}
#GameAreaquests{
    z-index: 15;
    width: 68vw;
    height: 80vh;
    position: fixed; left: 15vw; top: 15vh;
    overflow-y: auto;
    background-color: rgb(72, 51, 133);
}
#GameAreacharacter{
    z-index: 15;
    width: 68vw;
    height: 80vh;
    background-color: rgb(84, 72, 250);
    position: fixed; left: 15vw; top: 15vh;
    overflow: auto;
}